.header {
    padding: 1.2rem;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 1.2rem;
    text-align: start;
  }

.logo {
  float: left;
}

.item {
  text-decoration: none;
  font-size:1.2rem;
  margin: 10px;
  background: none;
  border: none;
  padding: 0!important;
  color: white;
  cursor: pointer;

}

.balance {
  color: black;
  float: right;
  background: transparent;
  border: none;
  font-size: 1.3em;
  margin-top: 10px;
}
.navBarItems {
  margin-right: 5%;
  text-align: right;
}

.item:active {
  color: gainsboro;
}