.button--1 {
    background-color: rgb(200,200,200);
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
}

.button--1:hover {
    background-color: hsl(168, 90%, 30%);
    cursor: pointer;
}